$icomoon-font-path: '/assets/fonts/waifairer/fonts';

$color-white: #ffffff;

// VIVID ORANGE/
$color-1: #e68f1a;

// YELLOW
$color-2: #ffeda2;

// DARK GREEN
$color-3: #aab16c;

// DARK ORANGE/BROWN
$color-4: #964e0c;

// LIGHT ORANGE
$color-5: #f2a849;

// LIGHT ORANGE
$color-6: #ffd39a;

// LIGHT GRAY YELLOW
$color-7: #fcfbf2;

// LIGHT GREEN
$color-8: #eaedd0;

// DARKER GREEN
$color-9: #6a7227;


$color-10: #606060;
